<div class='navigation'>
    <h4>RACESTATS</h4>
    <button class='btn navigation__btn' *ngIf="!isLogin" [routerLink]="['/login']" >SIGN IN</button>
    <button class='btn navigation__btn' *ngIf="!isLogin" [routerLink]="['/signup']" >SIGN UP</button>
    <p class='navigation__text' *ngIf="isLogin">{{username}}</p>
    <button class='btn navigation__btn' *ngIf="isLogin" [routerLink]="['/dashboard']">RECORD</button>
    <button class='btn navigation__btn' *ngIf="isLogin" [routerLink]="['/live']">LIVE GRAPH</button>
    <button class='btn navigation__btn' *ngIf="isLogin" [routerLink]="['/team']">TEAM</button>
    <button class='btn navigation__btn' *ngIf="isLogin" (click)="donwloadConfigFile()">GET AUTH</button>
    <button class='btn navigation__btn' *ngIf="isLogin" (click)="logout()">LOGOUT</button>
</div>
