<div class='login'>
  <div class='login__container'>
    <header>
      <div class='login__container__title'>
        <h3>Sign in to RaceStats</h3>
      </div>
    </header>

    <div class='mb-3 login__container__body'>
      <input type='text' class='form-control login__container__body__input' name='username' placeholder="Username">
      <input type='password' class='form-control login__container__body__input' name='password' placeholder="Password">
    </div>

      <div class='login__container__body__sign-up'>
        <a>New to RaceStats? <span style='color:#577EFB'>Sign up</span></a>
      </div>

    <button class='btn login__container__body__sign-in'>Sign In</button>

    <!--<div class='row'>
      <div class='col-5'>
        <hr class='horizontal-line'>
      </div>
      <div class="col-2">
        <a>OR</a>
      </div>
      <div class='col-5'>
        <hr class='horizontal-line'>
      </div>
    </div>

    <div class='row'>
      <button class='col-10 offset-md-1 btn login__container__body__google-sign-in'>Sign In</button>
    </div>-->

  </div>
</div>
