<div class='login'>
  <div class='login__container'>
    <div class='login__container__title'>
      <h3>Sign in to RaceStats</h3>
    </div>

    <div class='mb-3 login__container__body'>
      <input type='text' class='form-control login__container__body__input__form' name='username' [(ngModel)]='signin.username' placeholder="Username">
      <input type='password' class='form-control login__container__body__input__form' name='password' [(ngModel)]='signin.password' placeholder="Password">
    </div>

    <div class='form-check form-switch login__container__body__remember-me'>
      <input type='checkbox' class='form-check-input login__container__body__remember-me__checkbox' name='flag' [(ngModel)]='autoLogin'>
      <p class='login__container__body__remember-me__text'>Remember me?</p>
      <p class='login__container__body__remember-me__forgot-password' (click)='SignUp()'>Forgot password?</p>
    </div>

    <div class='login__container__body__sign-up'>
      <p>New to RaceStats? <span class='login__container__body__sign-up__btn'>Sign up</span></p>
    </div>

    <button class='btn login__container__body__sign-in-btn' (click)='SignIn()'>Sign In</button>
  </div>
</div>
