<div class='signup'>
  <div class='signup__container'>
    <div class='signup__container__title'>
      <h3>Register to RaceStats</h3>
    </div>

    <form [formGroup]='signupForm'>
      <div class='signup__container__body'>
        <input type='text' class='form-control signup__container__body__input__form' formControlName="email" name='email' placeholder='Email'>
        <p class='signup__container__body__incorrect-input' *ngIf="email.invalid && (email.dirty || email.touched)">Invalid Email</p>

        <input type='text' class='form-control signup__container__body__input__form' formControlName="username" name='username' placeholder="Username">
        <p class='signup__container__body__incorrect-input' *ngIf="username.invalid && (username.dirty || username.touched)">Invalid Username</p>

        <input type='password' class='form-control signup__container__body__input__form' formControlName="password" name='password' placeholder="Password">
        <p class='signup__container__body__incorrect-input' *ngIf="password.invalid && (password.dirty || password.touched)">Invalid Password</p>

        <input type='password' class='form-control signup__container__body__input__form' formControlName="confirmPassword" name='confirmPassword' placeholder='Confirm Password'>
        <p class='signup__container__body__incorrect-input' *ngIf="confirmPassword.value != password.value">Password doesn't match!</p>

      </div>
    </form>

      <button class='btn signup__container__body__register-btn' (click)='SignUp()'>Register</button>

    <div class='signup__container__body__have-account'>
      <p class='signup__container__body__have-account__text'>Have an account?</p>
      <p class='signup__container__body__have-account__redirect' (click)='onSubmit()'>Log in</p>
    </div>

  </div>
</div>
