<div class='signup'>
  <div class='signup__container'>
    <div class='signup__container__title'>
      <h3>Register to RaceStats</h3>
    </div>

    <form [formGroup]='signupForm'>
      <div class='signup__container__body'>
        <input type='text' class='form-control signup__container__body__input__form' formControlName="email" #email placeholder='Email'>
        <p class='signup__container__body__incorrect-input' [innerHTML]="InputChecker('email')"></p>

        <input type='text' class='form-control signup__container__body__input__form' formControlName="username" #username placeholder="Username">
        <p class='signup__container__body__incorrect-input' [innerHTML]="InputChecker('username')"></p>

        <input type='password' class='form-control signup__container__body__input__form' formControlName="password" #password placeholder="Password">
        <p class='signup__container__body__incorrect-input' [innerHTML]="InputChecker('password')"></p>

        <input type='password' class='form-control signup__container__body__input__form' formControlName="confirmPassword" #confirmPassword placeholder='Confirm Password'>
        <p class='signup__container__body__incorrect-input' *ngIf="confirmPassword.value != password.value">Password doesn't match!</p>

      </div>
    </form>

      <button class='btn signup__container__body__register-btn' [disabled]='DisableSignUp()' (click)='OnSubmit()'>Register</button>
      <p class='signup__container__body__register-btn__response' [innerHTML]='errorMessage'></p>

    <div class='signup__container__body__have-account'>
      <p class='signup__container__body__have-account__text'>Have an account?</p>
      <p class='signup__container__body__have-account__redirect' (click)='SignInPage()'>Log in</p>
    </div>

  </div>
</div>
